# Ignore themes
/themes/*
!/themes/Example/
!/themes/README.md

# Ignore vendor files
/vendor/*

# Ignore autoload
/core/_bootstrap/Bootstrap/autoload-build.php

# Ignore things
composer.lock
.DS_Store
