@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.container {
  max-width: 86.66666667em;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?stolls");
  src: url("../fonts/icomoon.eot?stolls#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?stolls") format("truetype"), url("../fonts/icomoon.woff?stolls") format("woff"), url("../fonts/icomoon.svg?stolls#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes wave {
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes wave {
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100%;
  -webkit-animation: wave 100s linear infinite;
          animation: wave 100s linear infinite;
}

.wave-container {
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: -1;
  right: 0;
}

.facade {
  background: #2B3131;
  background-image: url("../img/noise.png");
}

.facade:after {
  content: '';
  display: block;
  position: absolute;
  background: #FFFFFF;
  z-index: -1;
  height: 6900px;
  width: 6900px;
  right: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  min-height: 100%;
  border-radius: 3400px;
  -webkit-transition: border-radius 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: border-radius 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
}

.facade__sidepanel {
  color: #485151;
  height: 100%;
}

.facade__sidepanel:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.facade__content {
  max-width: 34.61538462%;
  margin-left: 3.84615385%;
  display: inline-block;
  vertical-align: middle;
}

.facade__title {
  font-size: 1.62em;
  font-weight: 700;
  margin-bottom: 1.02880658em;
}

.facade__text {
  line-height: 1.82666667em;
  margin-bottom: 2.33333333em;
}

.facade__text p {
  margin-bottom: 1.66666667em;
}

.facade .btn {
  margin-top: 3.33333333em;
  margin-bottom: 3em;
}

.facade--welcome .btn {
  width: 75%;
}

.facade__version {
  position: absolute;
  bottom: 3.7593985em;
  left: 0;
  font-size: 0.88666667em;
  color: #919B9B;
}

.facade__canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 50;
}

.icon-link {
  color: #485151;
  text-decoration: none;
  margin-right: 40px;
}

.icon-link:before {
  content: '';
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: 1.6em;
  vertical-align: -0.20833333em;
  margin-right: 0.41666667em;
  background: transparent no-repeat center center;
  background-size: 100%;
  -webkit-transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.icon-link:hover:before {
  color: #C95951;
}

.icon-link--gh:before {
  content: "\E900";
}

.icon-link--tw:before {
  content: "\E901";
}

.link {
  color: #C95951;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.link:before {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background: #C95951;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.link:hover:before {
  -webkit-transform: none;
          transform: none;
}

.btn {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.78666667em;
  border-radius: 0.25423729em;
  text-transform: uppercase;
  letter-spacing: 0.05932203em;
  padding: 1.44067797em;
  text-align: center;
  -webkit-transition: background 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn--primary {
  background: #C95951;
  color: #F1F1F1;
}

.btn--primary:hover {
  background: #B44A42;
}
