body {
      font-family: 'Avenir Next', sans-serif;
      color: rgb(44, 45, 54);
      padding: 3em;
}

a {
      color: #439963;
      text-decoration: none;
}

.version {
      font-size: 12px;
      vertical-align: middle; 
      margin-left: 10px; 
      display: inline-block;
}
