.facade {
    background: $cAnthracite2;
    background-image: url('../img/noise.png');


    &:after {
        content: '';
        display: block;
        position: absolute;
        background: $cWhite;
        z-index: -1;
        height: 6900px;
        width: 6900px;
        right: 50%;
        top: 0;
        bottom: 0;
        margin: auto;
        min-height: 100%;
        border-radius: 3400px;
        transition: border-radius .2s $ease-out-quad;
        box-shadow: 0 0 60px rgba(black, 0.08);
    }

    &__sidepanel {
        color: #485151;
        height: 100%;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    &__content {
        max-width: col(9, 26);
        margin-left: col(1, 26);
        display: inline-block;
        vertical-align: middle;
    }

    &__title {
        font-size: s($s7);
        font-weight: 700;
        margin-bottom: s(25, $s7);
    }

    &__text {
        line-height: s($s8);
        margin-bottom: s(35);

        p {
            margin-bottom: s(25);
        }
    }

    .btn {
        margin-top: s(50);
        margin-bottom: s(45);
    }

    &--welcome {
        .btn {
            width: col(6, 8);
        }
    }

    &__version {
        position: absolute;
        bottom: s(50, $s2);
        left: 0;
        font-size: s($s2);
        color: $cGray;
    }

    &__canvas {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        z-index: 50;
    }

}

