@keyframes wave {
    100% {
        transform: translateX(-50%);
    }
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400%;
    height: 200%;
}

.wave-container {
    overflow: hidden;
    width: 52%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: 0;
}